:root {
    --background: #000000;
    --mainText: #D1D1D1;
    --border: rgba(255, 255, 255, 0.1);
    --accent: white;
}

* {
    background-color: var(--background);
    color: var(--mainText);
}


body {
    font-family: "Archivo", sans-serif;
}

h1, h2, h3 {
    font-family: "Syne", sans-serif;
}

.navbar {
    height: 10vh;
}

.navbar-nav {
    font-size: 1.5rem;
    font-weight: 200;
    margin-right: 1.5rem;
}

.collapse {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

/* styling for first page */
#welcome .fp-overflow{
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
}
.hero-label {
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--border);  /* This creates the box! */
}
#skills-header, #skills-text {
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;

}
#skills-text {
    margin-top: 0;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
h1 {
    font-size: 6rem !important;
    font-weight: 800 !important;              
    line-height: 0.95 !important;                
    margin-bottom: 2rem;
    letter-spacing: -3px;            
}
#text-intro p {
    font-size: 1.5rem;
    font-weight: 200;
    width: 75%;
    margin-top: 2rem;
}
.btn {
    padding: 1rem 2.5rem !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
h3 {
    font-weight: 200 !important;
    font-size: 1.25rem !important;
}
#headshot {
    border-radius: 15px;
}


/* styling for about me page */
#main {
    display: flex;
    gap: 4rem;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 5rem;
}
#about-me.fp-table {
  justify-content: flex-start;
  align-items: flex-start;
}
#about-me .fp-overflow {
  padding: 5rem 2vw;
}
#aboutContent {
    font-size: 1.25rem;
    font-weight: 200;
}

/* projects page styling */
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#projects .projects-header {
  position: absolute !important;
  top: 0;
  left: 0;
  padding-top: 5rem;
  padding-left: 2vw;
  padding-right: 2vw;
}
#project-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
#project-cards .card {
    border-width: 0.2rem;
}
