:root {
    --background: #000000;
    --mainText: #ffffff;
}

* {
    background-color: var(--background);
    color: var(--mainText);
}

body {
    font-family: "Inter", sans-serif;
}

.navbar-nav {
    
}

